@import url(reset.css);
.contents{
    width: 100vw;
    min-height: calc(100vh - 3vw - 5px);
}
.content{
    display: none;
    width: 100vw;
    height: calc(100vh - 3vw - 5px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content.current{
    display: flex;
}
div#tab1 .title{
    font-size: 5vw;
}
div#tab1 .subtitle{
    font-size: 2vw;
}
.content canvas{
    margin: 0 4vw;
}

.content .main{
    display: none;
    height: calc(100vh - 6vw - 5px);
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.content .main.current{
    display: flex;
}
.content .main canvas{
    margin: 0 10vw;
}